<ion-view view-title="Home">
	<ion-content class="custom_bg" has-bouncing="false" id="scrollFabButtonTarget">
		<div class="card animated bounceInLeft">
		  <div class="item item-text-wrap">
		  	<img class="center img-card" src="img/small.png"/>
		    <h2>Node.js is a very powerful JavaScript-based framework/platform built on Google Chrome's JavaScript V8 Engine. It is used to develop I/O intensive web applications like video streaming sites, single-page applications, and other web applications. Node.js is open source, completely free, and used by thousands of developers around the world.</h2>
		  </div>
		</div>

		<div class="card wow animated bounceInRight">
		  <div class="center item item-divider bg-color">
		    Audience
		  </div>
		  <div class="item item-text-wrap">
		  <h2>
		    This tutorial is designed for software programmers who want to learn the basics of Node.js and its architectural concepts. This tutorial will give you enough understanding on all the necessary components of Node.js with suitable examples.
		   </h2>
		  </div>
		</div>

		<div class="card wow animated bounceInLeft">
		  <div class="center item item-divider bg-color">
		    Prerequisites
		  </div>
		  <div class="item item-text-wrap">
		  <h2>
		    Before proceeding with this tutorial, you should have a basic understanding of JavaScript. As we are going to develop web-based applications using Node.js, it will be good if you have some understanding of other web technologies such as HTML, CSS, AJAX, etc.
		   </h2>
		  </div>
		</div>
	</ion-content>
	 <fab-button ui-sref="app.intro" target-id="scrollFabButtonTarget">
      <i class="icon ion ion-chevron-right"></i>
    </fab-button>
</ion-view>
