<ion-view view-title="RESTFul Service">
	<ion-content class="custom_bg" has-bouncing="false" id="scrollFabButtonTarget16">
		<div class="card animated bounceInLeft">
			<div class="center item item-divider bg-color2">
			  What is REST architecture?
			</div>
			<div class="item item-text-wrap">
			<h2>
			REST stands for REpresentational State Transfer. REST is web standards based architecture and uses HTTP Protocol. It revolves around resource where every component is a resource and a resource is accessed by a common interface using HTTP standard methods. REST was first introduced by Roy Fielding in 2000.
			<br>
			A REST Server simply provides access to resources and REST client accesses and modifies the resources using HTTP protocol. Here each resource is identified by URIs/ global IDs. REST uses various representation to represent a resource like text, JSON, XML but JSON is the most popular one.
			</h2>
			<br>
			<h2>
			<b>HTTP methods</b><br>
			Following four HTTP methods are commonly used in REST based architecture.
			</h2>
			<div class="list list-inset">
			<div class="item"><b>GET</b> - This is used to provide a read only access to a resource.</div>

			<div class="item"><b>PUT</b> - This is used to create a new resource.</div>

			<div class="item"><b>DELETE</b> - This is used to remove a resource.</div>

			<div class="item"><b>POST</b> - This is used to update a existing resource or create a new resource.</div>
			</div>
			</div>
		</div>

		<div class="card animated bounceInLeft">
			<div class="center item item-divider bg-color2">
			  What is REST architecture?
			</div>
			<div class="item item-text-wrap">
			<h2>
			A web service is a collection of open protocols and standards used for exchanging data between applications or systems. Software applications written in various programming languages and running on various platforms can use web services to exchange data over computer networks like the Internet in a manner similar to inter-process communication on a single computer. This interoperability (e.g., communication between Java and Python, or Windows and Linux applications) is due to the use of open standards.
			</h2>
			<br>
			<h2>
			Web services based on REST Architecture are known as RESTful web services. These webservices uses HTTP methods to implement the concept of REST architecture. A RESTful web service usually defines a URI, Uniform Resource Identifier a service, which provides resource representation such as JSON and set of HTTP Methods.
			</h2>
			</div>
		</div>
	</ion-content>
	<fab-button ui-sref="app.scalingapp" target-id="scrollFabButtonTarget16">
      <i class="icon ion ion-chevron-right"></i>
    </fab-button>
    <fab-button-right ui-sref="app.expressframework" target-id="scrollFabButtonTarget16">
      <i class="icon ion ion-chevron-left"></i>
    </fab-button-right>
</ion-view>