<ion-view view-title="Settings">
	<ion-content class="custom_bg">
	<div class="card">
		  <div class="item item-divider item-royal">
		    2016 Ben Eaves
		  </div>
		  <div class="item item-text-wrap">
		    	<pre>https://angeal185.github.io/</pre>
				<pre>https://codepen.io/angeal185/</pre>
				<pre>https://linkedin.com/in/ben-eaves-996991125/</pre>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider item-royal">
		    Reference info
		  </div>
		  <div class="item item-text-wrap">
		    	<pre>www.nodejs.org</pre>
		  </div>
		</div>
		
		<div class="card">
		  <div class="item item-divider item-royal">
		    App Version
		  </div>
		  <div class="item item-text-wrap">
		    	<div class="list">
		    		<b>Version :</b> 1.0
		    	</div>
		  </div>
		  
		</div>
	</ion-content>
</ion-view>