<ion-view view-title="Utility Modules">
	<ion-content class="custom_bg" has-bouncing="false" id="scrollFabButtonTarget13">
		<div class="card animated flipInY">
			<div class="center item item-divider bg-color1">
			  Intro
			</div>
			<div class="item item-text-wrap">
			   <h2>
			   	There are number of utility modules available in Node.js module library. These modules are very common and are frequently used while developing any Node based applications.
			   </h2>
			</div>
		</div>

		<div class="card animated flipInY">
			<div class="center item item-divider bg-color1">
			  Module Name & Description
			</div>
			<div class="item item-text-wrap">
			   <div class="list list-inset">
			   		<div class="item"><b>OS Module</b> - Provides basic operating-system related utility functions.</div>
			   		<div class="item"><b>Path Module</b> - Provides utilities for handling and transforming file paths.</div>
			   		<div class="item"><b>Net Module</b> - Provides both servers and clients as streams. Acts as a network wrapper.</div>
			   		<div class="item"><b>DNS Module</b> - Provides functions to do actual DNS lookup as well as to use underlying operating system name resolution functionalities.</div>
			   		<div class="item"><b>Domain Module</b> - Provides way to handle multiple different I/O operations as a single group.</div>
			   </div>
			</div>
		</div>
	</ion-content>
	<fab-button ui-sref="app.webmodule" target-id="scrollFabButtonTarget13">
      <i class="icon ion ion-chevron-right"></i>
    </fab-button>
    <fab-button-right ui-sref="app.globalobjects" target-id="scrollFabButtonTarget13">
      <i class="icon ion ion-chevron-left"></i>
    </fab-button-right>
</ion-view>